@{
    ViewData["Title"] = "Home Page";
    var students = ViewData["myStudents"] as List<Student>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* <table border="1">
    <tr border="1">
        <th>Roll No</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Class</th>
    </tr>

    @foreach(var std in students)
    {
        <tr border="1">
            <td>@std.RollNo</td>
            <td>@std.Name</td>
            <td>@std.Gender</td>
            <td>@std.Standard</td>
        </tr>
    }
</table> *@