@using ProductStoreWebApp.Models;

<h1>Products List</h1>
<hr/>

@{
List<Product> products1=(List<Product>)ViewData["products"];
    foreach(Product prod in products1){
        <p>@prod.Id @prod.Title<a href="/product/details/@prod.Id">Details</a> | 
        <a href="/product/edit/@prod.Id">Edit</a> | <a href="/product/delete/@prod.Id">Delete</a></p>
    }
}

<a href="/product/addproduct"><button type="button">Add product</button></a>